{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="col"></div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom text-center">{{ current_user.username}}'s Starting Stats</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.start_date.label(class='form-control-label') }}
                {% if form.start_date.errors %}
                {{ form.start_date(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.start_date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.start_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.start_weight.label(class="form-control-label") }}
                {% if form.start_weight.errors %}
                {{ form.start_weight(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.start_weight.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.start_weight(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info col-md-12 mr-auto") }}
        </div>
    </form>
    <div class="col"></div>
</div>
{% endblock content %}